.pizza-menu{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    row-gap: 35px;
    column-gap: 70px;
    padding:20px 30px;
}




.pizza-type{
    display: block;
    background: none;
    font-size: 18px;
    font-weight:bolder;
    background-color: #fff;
    padding:15px 25px;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: red;
}



.pizza-card{
    background:#f1f1ed;
    border-radius: 15px;
    box-shadow: 0px 3px 10px 2px #f0bfb7;
   

    p{
        margin:0;  

        img{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            
        }
    }
}

.pizza-card img{
    height:200px;
    width:250px;
}

.pizza-details{
    padding:10px;
}



.checked {
    color: orange;
  }

.name-price{
    display: flex;
    justify-content: space-between;
    

    :first-child{
        font-family: 'Trebuchet MS';
        font-size: 14px;
    }

    :last-child{    
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        color:rgb(105, 105, 105);
        font-size: 14px;
    }
}



.rating-size{
    font-size:12px;
}


.offer{
    display: block;
    position: relative;
    bottom: 35px;
    background: #048d04;
    color: #fff;
    padding: 5px;
    width:30%;
}




@media (min-width:240px) and (max-width:409px){

    .pizza-menu{
        column-gap: 35px;
        padding:20px 15px;
        justify-content: center;
    }
    
    .pizza-card img{    
            height:150px;
            max-width:170px;   
            width:100%;   
    }
                
}



@media (min-width:410px) and (max-width:600px){

    .pizza-menu{
        column-gap: 35px;
        padding:20px 15px;
        justify-content: center;
    }
    
    .pizza-card img{    
            height:150px;
            max-width:170px;   
            width:100%;   
    }
                
}



@media (min-width:601px) and (max-width:889px){

    .pizza-menu{
        column-gap: 35px;
        padding:20px 15px;
        justify-content: center;
    }
    
    .pizza-card img{    
            height:150px;
            max-width:170px;   
            width:100%;   
    }
                
}




@media (min-width:900px) and (max-width:989px){

    .pizza-menu{
        column-gap: 35px;
        padding:20px 15px;
        justify-content: center;
    }
    
    .pizza-card img{    
            height:170px;
            max-width:190px;  
            width:100%;    
    }
                
}

@media (min-width:990px) and (max-width:1260px){

    .pizza-menu{
        column-gap: 30px;
        justify-content: center;
    }
    
    .pizza-card img{    
            height:180px;
            max-width:200px; 
            width:100%;    
    }
                
}