header{
   padding:10px 15px;
   background: #f0de40;
   display: flex;
   justify-content: space-between;
   align-items:center;
}

.logo{
    height:50px;
    width:100%;
    max-width: 50px;
}

nav{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap:40px;
}

nav a{
    text-decoration: none;
    font-weight: 500;
    color:#3a80cf;
}



.menu-popup{
  display: none;
  position: fixed;
  background: #fff;
  padding:10px;
  border-radius: 8px;
  text-align: center;
  z-index: 1;
  top:60px;
  width:80%;
  left:10%;
  box-shadow: 0px 7px 20px 2px #6e6e6e;
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  0% { left: -100% }
  100% { left: 10% }
}

.menu-popup ul{
  display: flex;
  flex-direction: column;
  padding:0px;
}

.menu-popup ul li {
  list-style-type: none;
  padding:5px 0px;
}

.menu-popup ul li a{
  text-decoration: none;
  color:#000;
}

.menu-popup ul li a:hover{
  color:#db0d33;
}

.ham-menu{
  display: none;
}

@media (min-width:200px) and (max-width:450px){
  nav{
    display: none;
  }
  .ham-menu{
    display: block;
  }
  .menu-popup{
    display: block;
  }

  
}