footer{
    background: #ada702;
    padding:25px 0px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 35px 300px;
    text-align: center;
    color:#fff;
   margin-top: auto;
}

footer div div{
    text-transform: uppercase;
}

.first_menu{
  position: relative;
  margin-bottom: 40px;
  transition: 0.3s;
  transition-timing-function:ease;
}


footer a{
display: block;
padding:8px 0px;
text-decoration: none;
color:#4f6204;
}


.first_menu:hover::before{
  content:"";
  position: absolute;
  top:25px;
  left:25px;
  border-bottom:2px solid #464646;
  width:75%;
  transition: all 0.3s ease;
-webkit-transition: all 0.3s ease;
}

.first_menu:hover{
  transition: 0.3s;
  transition-timing-function:ease-in-out;
  font-size:16px;
  letter-spacing: 1px;
}





@media (min-width:200px) and (max-width:499px){
  footer{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: none;
    grid-row-gap:40px;
  }

  footer a{
    font-size: 12px;
  }
  
}



@media (min-width:500px) and (max-width:699px){
  footer{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: none;
    grid-row-gap:40px;
  }

  footer a{
    font-size: 14px;
  }
  
}

@media (min-width:700px) and (max-width:1140px){
  footer{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: none;
    grid-row-gap:40px;
  }
  
}
